[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
colorama = "*"
boto3 = "*"
django-cors-headers = "*"
django-dotenv = "*"
django-filter = "*"
django-storages = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
geocoder = "*"
gunicorn = "*"
whitenoise = "*"
psycopg2-binary = "*"
dj-database-url = "*"

[dev-packages]

[requires]
python_version = "3.11"
